<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/css/awsm.min.css">
	<title>Home | FizzBlock101 Feed Configuration</title>
</head>
<body>
	<%- include('header') %>
	<h1>FizzBlock 101 Feed Configuration Site</h1>
	<p>FizzBlock101 is back and it's new and improved! Settings are now stored in the cloud so that all your devices can be synchronized. Update your settings via the web portal or via the websocket at /ws (limited features supported).</p>
  <p>This website is meant to be entirely independent of all other sites and any resemblance to a Crusaders of Rust Official Challenge Development Portal, real or imagined, is probably because I copied and pasted most of the code.</p>
</body>
</html>